<?xml version="1.0"?>
<!--
/**
 * Module config
 * @author Reamaze
 */
-->
<config>
  <modules>
    <Reamaze_Reamaze>
      <version>1.1.0</version>
    </Reamaze_Reamaze>
  </modules>
  <global>
    <models>
      <reamaze_reamaze>
        <class>Reamaze_Reamaze_Model</class>
      </reamaze_reamaze>
    </models>
    <helpers>
      <reamaze_reamaze>
        <class>Reamaze_Reamaze_Helper</class>
      </reamaze_reamaze>
    </helpers>
    <blocks>
      <reamaze_reamaze>
        <class>Reamaze_Reamaze_Block</class>
      </reamaze_reamaze>
    </blocks>
  </global>
  <frontend>
    <layout>
      <updates>
        <reamaze_reamaze>
          <file>reamaze_reamaze.xml</file>
        </reamaze_reamaze>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <reamaze_reamaze>
        <use>admin</use>
        <args>
          <module>Reamaze_Reamaze</module>
          <frontName>reamaze_reamaze</frontName>
        </args>
      </reamaze_reamaze>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <reamaze_reamaze>
          <file>reamaze_reamaze.xml</file>
        </reamaze_reamaze>
      </updates>
    </layout>
    <events>
      <admin_system_config_changed_section_reamaze_reamaze>
        <observers>
          <reamaze_reamaze>
            <class>reamaze_reamaze/AdminObserver</class>
            <method>afterConfigSaved</method>
          </reamaze_reamaze>
        </observers>
      </admin_system_config_changed_section_reamaze_reamaze>
      <core_block_abstract_prepare_layout_after>
        <observers>
          <reamaze_reamaze>
            <class>reamaze_reamaze/AdminObserver</class>
            <method>coreBlockAbstractPrepareLayoutAfter</method>
          </reamaze_reamaze>
        </observers>
      </core_block_abstract_prepare_layout_after>
      <core_block_abstract_to_html_before>
        <observers>
          <reamaze_reamaze>
            <class>reamaze_reamaze/AdminObserver</class>
            <method>coreBlockAbstractToHtmlBefore</method>
          </reamaze_reamaze>
        </observers>
      </core_block_abstract_to_html_before>
    </events>
  </adminhtml>
  <default>
    <reamaze_reamaze>
      <setup_completed>false</setup_completed>
      <setup_incomplete>true</setup_incomplete>
      <adminhtml_dashboard_widgets>
        <charts>response_time,volume,staff,appreciations,first_response_rate,thread_size</charts>
        <conversations>assigned_to_me,unresolved</conversations>
      </adminhtml_dashboard_widgets>
      <integration>
        <js_popup_trigger>.contact-us, a[title="Contact Us"]</js_popup_trigger>
        <js_embed_container>#reamaze-kb</js_embed_container>
      </integration>
      <domain>reamaze.com</domain>
    </reamaze_reamaze>
  </default>
</config>
